<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>

  <div class="header">
    <h1>Edit quote</h1>
  </div>
  <%# Converte em um id chamado model_idObject, ex.: quote_1 %>
  <%= turbo_frame_tag @quote do%>
  <%= render "form", quote: @quote %>
  <%end%>
</main>